.fixed {
    width: 100%;
    background: white;
    padding: 20px 0px;
    box-shadow: rgba(105, 105, 105, 0.72) 0px 7px 7px -1px;
    left: 0px !important;
    right: 0px !important;
    z-index: 101 !important;
}
.fixed input {
    width: 100% !important;
}
.fixed p {
    display: none !important;
}
.float-panel {
    z-index: 1;
}
.float-panel p{
    color: #fff;
    margin-bottom: 0px;
    text-transform: capitalize;
    text-align: left;
}
input{
    margin-top: 5px !important;
    padding: 30px !important;
}
@media only screen and (min-width: 748px) {
    .mobile_page_title {
        visibility: hidden;
   }
}
.page-section {
    padding: 2rem 0;
}
header.masthead .masthead-subheading {
    font-size: 2.25rem;
    font-style: inherit;
    line-height: 2.25rem;
    margin-bottom: 2rem;
}
@media only screen and (max-width: 748px) {
    .p-3-mobile{
        padding: 0.38rem !important;
   }
    .container-mobile{
        padding-left: 0rem !important;
        padding-right: 0rem !important;
   }
   .fixed.container-mobile {
    padding-left: 0rem !important;
    padding-right: 1rem !important;
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
}
   .fixed input{
       margin-left: 0.5rem !important;
       margin-right: 0.5rem !important;
   }
   .container-mobile-2{
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
   }
    h2, .h2 {
        font-size: 1.1rem !important;
   }
   header.masthead .masthead-subheading h1 {
    font-size: 1.50rem;
    font-style: inherit;
    line-height: 2.25rem;
    }
    header.masthead .masthead-subheading {
    margin-bottom: 1rem !important;
    }
}
.navbar{
    background:#18222C !important;
}

header.masthead {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
h2, .h2 {
    font-size: 1.4rem;
}
.alert-light{
    background: transparent !important;
    border-color: #D7DBDD;
    overflow: hidden;
    border-radius: 20px;
}
.alert-light p{
    color: black !important;
    margin-bottom: 0px;
    font-size: 0.9rem;
}
#LinkCopySuccess{
    float: right;
    color: #212529 ;
}
#share_url{
    color: #1C2733;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}
button.btn.btn-link.btn-block.text-left {
    text-decoration: none;
    color: #5d5d5d;
    font-weight: bold;
}
input.StylishTextInput {
    border: none;
    margin-top: 0px !important;
    padding: 0px !important;
    width: 100% !important;
}
input.StylishTextInput:focus {
    border: 0px;
    outline: none;
}
/* Spinner */
@keyframes ldio-0i766t7gppnp-o {
    0%    { opacity: 1; transform: translate(0 0) }
   49.99% { opacity: 1; transform: translate(80px,0) }
   50%    { opacity: 0; transform: translate(80px,0) }
  100%    { opacity: 0; transform: translate(0,0) }
}
@keyframes ldio-0i766t7gppnp {
    0% { transform: translate(0,0) }
   50% { transform: translate(80px,0) }
  100% { transform: translate(0,0) }
}
.ldio-0i766t7gppnp div {
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  top: 40px;
  left: 20px;
}
.ldio-0i766t7gppnp div:nth-child(1) {
  background: #1d3f72;
  animation: ldio-0i766t7gppnp 1s linear infinite;
  animation-delay: -0.5s;
}
.ldio-0i766t7gppnp div:nth-child(2) {
  background: #5699d2;
  animation: ldio-0i766t7gppnp 1s linear infinite;
  animation-delay: 0s;
}
.ldio-0i766t7gppnp div:nth-child(3) {
  background: #1d3f72;
  animation: ldio-0i766t7gppnp-o 1s linear infinite;
  animation-delay: -0.5s;
}
.loadingio-spinner-dual-ball-7b37xmix1n3 {
  width: 200px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-0i766t7gppnp {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-0i766t7gppnp div { box-sizing: content-box; }
/* generated by https://loading.io/ */
